[Desktop Entry]
Encoding=UTF-8
Name=Verknüpfung mit iris.data
Type=Link
URL=http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data
Icon=text-plain
