<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><TotalTime>0</TotalTime><Application>LibreOffice/4.4.2.2$Windows_x86 LibreOffice_project/c4c7d32d0d49397cad38d62472b0bc8acff48dd6</Application></Properties>